@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Overpass', sans-serif;
}

body{
    background-color: black;
}

.rating-component {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-container, .thankYou-container{
    background-color: hsl(216, 12%, 8%);
    /*margin: 4rem;*/
    margin: auto 1rem;
    padding: 1rem;
    max-width: 18rem;
    height: auto;
    border-radius: 0.625em;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.250em;
    margin-bottom: 0.938em;
}

p{
    font-size: 15px;
    color: hsl(216, 12%, 54%);
}

.rating-btn{
    padding: 0.688em;
    border-radius: 100%;
    border: none;
    background-color: hsl(213, 19%, 18%);
    color: hsl(216, 12%, 54%);
    margin-right: 0.938em;
    margin-top: 0.625em;
    cursor: pointer;
}

.rating-btn:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}



.before-active{
    background-color: hsl(216, 12%, 54%);
    color: hsl(213, 19%, 18%);
}

.disabled {
    pointer-events: none;
}

.submit-btn{
    padding: 0.500em 6.125em;
    border-radius: 15px;
    margin-top: 0.938em;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}

img.star-img{
    padding: 0.250em;
    background-color: hsl(213, 19%, 18%);
    border-radius: 100%;
    margin-bottom: 0.313em;
}

img.thankyou-img{
  margin-bottom: 0.625em; 
  width: 50%;
}

.thankYou-container{
text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

p.result{
    color: hsl(25, 97%, 53%);
    /*margin-bottom: 10px;*/
    background-color: hsl(213, 19%, 18%);
    width: 11em;
    margin: auto;
    font-size: 14px;
    border-radius: 9px;
}

h1.thankyou-head {
    margin-top: 0.938em;
}

.active {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
  
}

@media only screen and (max-width: 768px)  {
    .rating-component {
      flex-wrap: nowrap;

    }
    .rating-btn{
        margin-right: 0.5em;
}
    
}